<header id="top-header">
  <span class="siteName">
     <img src="/images/site/icon.png" alt="" srcset="">
  </span>
  <div id="tools">
    <h3><a title="Click to log in" href="/account/login">MY ACCOUNT</a></h3>
  </div>
</header>