<!-- 
<nav>
    <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="/custom" title="Custom Cars">Custom</a></li>
        <li><a href="/sedan" title="Sedan Cars">Sedan</a></li>
        <li><a href="/suv" title="SUV Cars">SUV</a></li>
        <li><a href="/truck" title="Truck Vehicles">Truck</a></li>
    </ul>
</nav> -->
<!-- <nav>
    <%- nav %>
</nav> -->
<div class="nav-container">
  <%- nav %>
</div>
