<!-- <div class="nav-container">
  <%- nav %>
</div> -->


<nav class="navbar">
  <div class="logo"><a href="/">CSE Motors</a></div>
    <button class="hamburger" aria-label="Toggle menu">&#9776;</button>
  <div id="nav-links">
    <%- nav %>
  </div>
</nav>