<main>
  <section id="featured-vehicles">
    <h1>Welcome to CSE Motors !</h1>
<!--Vehicle_card-->
    <div class="vehicle-card">
      <img src="/images/vehicles/delorean.jpg" alt="delorean car" id="delorean">

      <div class="own_today">
        <div class="car-info">
          <span class="car-name">DMC Delorean</span>
          <span class="car-name">3 Cup holders</span>
          <span class="car-name">Superman doors</span>
          <span class="car-name">Fuzzy dice!</span>
        </div>
        <img src="/images/site/own_today.png" alt="banner today">
      </div>
    </div>
  <!--upgrades-->
    <div class="info-grid">
      <div class="upgrades">
        <h2>Delorean Upgrade</h2>

        <div class="delorean-parts">

          <figure class="upgrade-item">
            <div class="upgrade-box">
              <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
            </div>
            <figcaption>
              <a href="/flux-capicator">Flux Capacitor</a>
            </figcaption>
          </figure>

          <figure class="upgrade-item">
            <div class="upgrade-box">
              <img src="/images/upgrades/flame.jpg" alt="flame">
            </div>
            <figcaption>
              <a href="/flame">Flame Decals</a>
            </figcaption>
          </figure>

          <figure class="upgrade-item">
            <div class="upgrade-box">
              <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
            </div>
            <figcaption>
              <a href="/bumper_sticker">Bumper Stickers</a>
            </figcaption>
          </figure>

          <figure class="upgrade-item">
            <div class="upgrade-box">
              <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
            </div>
            <figcaption>
              <a href="/hub-cap">Hub Caps</a>
            </figcaption>
          </figure>

        </div>
      </div>
      <!-- Reviews-->
      <div class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul class="review-list">
          <li>“So fast it's almost like traveling in time.” (4/5)</li>
          <li>“Coolest ride on the road.” (4/5)</li>
          <li>“I'm feeling McFly!” (5/5)</li>
          <li>“The most futuristic ride of our day.” (4.5/5)</li>
          <li>“80’s livin and I love it!” (5/5)</li>
        </ul>
      </div>

    </div>
  </section>
</main>
